{
	"configs":[
		{
			"ConfigName":"config1",
			"ServiceHost":"localhost",
			"ServicePort":6379,
			"ReidsUser":"",
			"RedisPwd":"123456",
			"MaxTotal":50,
			"MaxIdle":16,
			"MaxWait":5000,
			"TimeOut":5000,
			"ClusterHosts":[{"ServerHost":"10.11.11.41","ServerPort":6379},{"ServerHost":"10.11.11.42","ServerPort":6379}
			{"ServerHost":"10.11.11.43","ServerPort":6379}]
		}
	]
}
